<link rel="import" href="/sys/polymer/polymer.html">
<!--
    <dom-bind><template is="dom-bind"> is a Polymer 2 auto-binding template
    with a compatibility fallback for Polymer 1. See:
    https://www.polymer-project.org/2.0/docs/devguide/templates
-->
<link rel="stylesheet" href="/Articles/css/Article.css">
<template>
    <dom-bind>
        <template is="dom-bind">
            <a href="/articles/detail/{{model.Key}}">
                <div slot="articles/article-summary">
                    <h4 class="article-item_name">{{model.ArtName}}</h4>
                    <h6 class="article-item_price">{{model.ArtPrice}}</h6>
                </div>
            </a>
        </template>
    </dom-bind>
    <template is="declarative-shadow-dom">
        <slot name="articles/article-summary"></slot>
    </template>
</template>
