<link rel="stylesheet" href="/Articles/css/Article.css">
<link rel="import" href="/sys/polymer/polymer.html">
<!--
    <dom-bind><template is="dom-bind"> is a Polymer 2 auto-binding template
    with a compatibility fallback for Polymer 1. See:
    https://www.polymer-project.org/2.0/docs/devguide/templates
-->
<template>
    <dom-bind>
        <template is="dom-bind">
            <div style="margin-bottom:20px" class="article-clickable_item">
                <starcounter-include view-model="{{model.Article}}"></starcounter-include>
            </div>
        </template>
    </dom-bind>
</template>
